<% include ./partial/header %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://www.mbcpeermade.com/userfiles/poster/01a2954f86884eaea6a2133056df9912.jpg"
        class="fixed-height d-block w-100"
        alt="First slide"
        style="max-width:100%;height:100%;"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5> MBC</h5>
        <p>LEAVE MANAGEMENT SYSTEM</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://media-exp1.licdn.com/dms/image/C511BAQHn6lI1jHGc3w/company-background_10000/0/1519812567001?e=2147483647&v=beta&t=qh5SN-SiDqv_gso7nzTyaBUXKxyMYsJGYUxyI-5P9Tc"
        class="fixed-height d-block w-100"
        style="width:100%;height:auto;"
        alt="Second slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://i.ytimg.com/vi/r9X1c4wysyc/maxresdefault.jpg"
        class="fixed-height d-block w-100"
        style="width:100%;height:auto; object-fit:fill;"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>
<div id="scrollspy1" style="border: 1px solid black;">
  <div
    class="jumbotron"
    style="height: 600px ;    background-image: url('https://lh5.googleusercontent.com/p/AF1QipPUIeYFgIP7wiSyavTxIMdVGWwd6luC3tQmwW0D=w600-h321-p-k-no');    background-color: #008cbf;
    color: #ffffff;
    box-shadow: inset 50px 50px 100px #000000, inset -50px -50px 100px #000000;

    padding-top: 18em;
    
  
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    
    justify-content: center;
    background-repeat: no-repeat;
    "
  >
    <div class="contact" style="color: black;">
      <h1 style=" font-weight: bold; color: black; ">
        <h5>Leave management System is an ideal solution for students and the faculties for applying and verifying
leave and overcome the problems that above mentioned.
<h6>
• In this system provides the students to apply their leaves and view the status and facilitates the admin to
verify the leave requests as well as generate leave reports. The system notification to higher authorities
upon application of leave and leave status is notified to the respective user.
</h6>
<h7>
• Thus leave management system provides an optimized solution for leave request, approval, tracking of
leaves status and generating leave reports.
</h7>
</h5>
      </h1>
      <p style="font-weight: bold;">
       
      </p>
    </div>
  </div>
  <h4>
</h4>

            </div>
          </div>
        </div>
      </div>
    </div>
    
            </div>
          </div>
        </div>
      </div>
     
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ./partial/footer %>
